.main__content{
  min-height: 10vh;
  min-width: 320px;
  flex: 1;
}

.started{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  &__discount{
    margin: 20px;
    width:100%;
    opacity: .4;
  }
  &__btn{
    align-self: end;
    width:100px;
    height: 90px;
    border: #33BBCF solid 2px;
    border-radius:50%;
    display: flex;
    line-height: 120%;
    padding: 0;
    
    a{
      margin: 0;
    padding-left: 24px;
    padding-top: 10px;
      color:#33BBCF;
      line-height: 120%;
    }
  }
}

.generation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 66%;
  margin-left: 20px;
  margin-top: -140px;
  padding-left: 20px;
  padding-right: 20px;
  img{
    display: none;
  }
}
.method{
  &__head{
    font-size: 42px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.01em;
    &-green{
      background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}
.users{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap:20px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border:2px solid rgba(74, 74, 74,.6);
  border-radius:20px;
  &__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
   
  }
  &__number{
    font-size: 25px;
    letter-spacing: .04em;
  }
  &__description{
    text-transform: uppercase;
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.business{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  &__btn{
    width:60%;
    max-width: 260px;
    height: 64px;
    border-radius: 10px;
    margin-top: 20px;
    background:linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  }
  .columns {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:80%;
  }
  &__addon{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6%;
    padding-left: 20px;
    padding-right: 20px;
    &-img{
      justify-self: center;
      align-self: center;
    }
    &-txt{
      width:80%;
    }
    &-description{
      font-size: 12px;
      opacity: .6;
    }
  }
}

.billing{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
  &__img{
    display: flex;
    flex-direction: column;
    &-left{
      margin-top: 50px;
    }
    &-right{
      display: flex;
      flex-direction: column-reverse;
      align-items:flex-end;
      justify-content: space-between;
      gap:210px;
      margin-top: -300px;
      &-bottom{
        background-color: #fff;
        color: #000;
        border-radius:10px;
        padding: 6px;
        width: 80%;
        
      }
    }
  }
  &__checkmark-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2%;
    font-size: 14px;
  }
}
.deals{
  display: none;
}
.saying{
  display: none;
}
.contributors{
  display: none;
}
.try{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap:20px;
  &__left{
    width: 90%;
  }
  &__head{
    font-size: 26px;
    letter-spacing: .02em;
  }
  &__description{
    font-size: 14px;
    opacity: .6;
  }
  &__right{
    width:60%;
    button{
      min-width: 200px;
      margin: 20px;
    }
  }
}