.main__content{
  min-width: 50vh;
  flex: 1;
  // section{
  //   display: none;
  // }
}

.started{
  display: none;
}

.generation{
  display: none;
}
.users{
  display: none;
}
.business{
  display: none;
}

.billing{
  display: none;
}
.deals{
  display: none;
}
.saying{
  display: none;
}
.saying{
  display: none;
}
.contributors{
  display: none;
}
.try{
  display: none;
}